
<% if @current_user%>
  <div class = "ps-2">
  <div class = "pt-2 pb-2">
    <h1>New Place</h1>
  </div>
  

  <%= form_with :model => @place do |form| %>
    <p>
      <%= form.label "name" %>
      <%= form.text_field "name" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% else %>
You must be <a href="/login">logged in</a>.
<% end %>
</div>

